
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-uniquifier {
     font-family: "Quicksand", serif;
     font-optical-sizing: auto;
     font-weight: 500;
     font-style: normal;
   }
   /*  useable style */
   .font-size{
     font-size: 20px;
     font-weight: 600;
   }


body{
     background-color: #F7F7F7;
     
}
.nav-head{
     font-size: 32px;
     font-weight: bold;
     margin-top: 13px;
     margin-bottom: 0;
     margin-left: 11px;
}

.navbar{
     display: flex;
     justify-content: space-between;
     align-items: center;
     max-width: 1160px;
     margin: 0 auto;
     

}
.navbar ul{
     display: flex;
     gap: 32px;
     text-align: center;
     margin-left: 163px;
     margin-right: 163px;
}
ul li{
     list-style: none;
}
ul a{
     text-decoration: none;
     color: black;
}
.nav-div{
     display: flex;
}

.nav-list1{color: #FEA301;
     margin-left: 18px;

}
.nav-list2{color: #01ACFD;

}
.nav-list3{color: #05D4DF;

}
.nav-list4{color:#5D58EF;

}
.nav-list5{
     background-color: #FEA301;
     color: #ffffff;
padding: 10px 60px;
border-radius: 5px;
border: none;
}
hr{
     display: none;
}
/* Navbar is done */
.bannar{
     display: flex;
     justify-content: space-around;
     align-items: center;
     max-width: 1160px;
     margin: 0 auto;
}
.bannar-div1{
     max-width: 640px;
     
}
.bannar-div{

}
.bannar-head{
     font-size:56px ;
     font-weight: bold;
}
.bannar-pera{
     color: #111111;
     font-size: 20px;
     font-weight: 400;
}
.sp1{
     color:#FEA301 ;
}
.sp3{
     color:#01ACFD ;
}
.sp2{
      
}
.bannar-btn{
background-color: #111111;
color: #ffffff;
padding: 10px 47px;
border: none;
border-radius: 8px;
}
/* bannar section complete */

.curriculam-head{font-size: 46px;
     font-weight: bold;
     text-align: center;
     

}
.curriculam{
     background-image: url(./assets/bg.png);
     max-width: 1160px;
     margin: 60px auto 0 auto;
     
}
.curriculam-div{display: flex;
     gap:28px ;
     margin-top: 80px;

}
.curii1{text-align: center;
     background-image: linear-gradient( #DEF5FF 18%, #FFFFFF 30%);
     border-radius: 8px;

}
.curii2{text-align: center;
     background-image: linear-gradient( #FFF4DC 18%, #FFFFFF 30%);
     border-radius: 8px;

}
.curii3{text-align: center;
     background-image: linear-gradient( #F2E8FF 18% , #FFFFFF 37%);
     border-radius: 8px;

}

.curii-head{
     color: #202020;
     font-size: 24.52px;
     font-weight: bold;
     margin-top: 32px;
     margin-bottom: 33px;
}
.curii-pera{
     color: #808080;
     font-size: 15.09px;
     margin-bottom: 33px;
}
.curii-sub1{color: #64C8FF;
 font-size: 15.09px;}
.curii-sub2{
     color:#F0AA00 ;
     font-size: 15.09px;
}
.curii-sub3{
     color: #8700FF;
}
.icon-div{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
     margin-top: 80px;
     
}
.icon{
     background-color: #FEA301;
     color: #FFFFFF;
     font-size: 24px;
     font-weight: 500;
     padding: 15px;
     border-radius: 50%;
     
}
/* curii complete */

.story-section{
     
     background-image:url(./assets/bg.png),  linear-gradient( #FFFDFA 70%, #FFFBF4 30%);
     max-width: 1160px;
     margin: 0 auto ;
     margin-bottom: 60px;
     
}
.story-sections{
     display: flex;
     gap: 19px;
     margin-top: 80px;
     margin-bottom: 80px;
}
.stories2{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 19px;
     
}
.story-head{
     font-size: 46px;
     font-weight: bold;
     text-align: center;

}
.stories-div1{
     
}
/* the buttonsection */

   .story-button1{
     background-color:#95B226 ;
     padding: 10px 18px;
     border-radius: 15px;
     border: none;

   }  
   .story-button{
     background-color:#3CD8E8 ;
     color: #FFFFFF;
     padding:14px 18px ;
     border-radius: 15px;
     border: none;
     margin-top: -90px ;

   }
   .story-button2{
     background-color: #5D58F0;
     padding:10px 18px ;
     border-radius: 15px;
     border: none;

   }

.story-divs{
     background-color: #FFFFFF;
     padding: 0 38px 34px 38px ;
     border-radius: 8px;
     margin-top: -18px;
}
.story-divs1{
     background-color: #FFFFFF;
     margin-top: -22px;
     border-radius: 8px;
     padding: 0 38px 37px 38px;
}

.story-title1{
     font-size: 24px;
     font-weight: bold;
     margin-top: 36px;
     margin-bottom: 52px;
}
.story-title2{
     font-size: 15.5px;
     font-weight: bold;
     margin-top: 20px;
     margin-bottom: 0;
}
.story-pera{
     color: #666666;
     font-size:15.5px ;
     font-weight: 600;
     padding-bottom: 30px;
}
    
  .story-img{
     border-radius: 10px;

  }  
  .story-img1{
     border-radius: 10px;
  } 
     
.viwe-btn{
     background-color: #111111;
     color: #FFFFFF;
     padding: 10px 61px;
     border: none;
     border-radius: 10px;
     display: flex;
     margin: 0 auto;
     
}

/* Content section complete */

.foote{
     background-color: #01ACFD;
     
}
.the-footer{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     max-width: 1160px;
     margin: 0 auto ;
     gap: 172px;
     padding-top: 123px;
     padding-bottom: 170px;

}

.footer-divs{
     display: flex;
     gap:10px;
     margin-bottom: 36px;
}
.footer-title1{
     color: #FFFFFF; 
     font-size: 43px;
     font-weight: bold;
     margin-top: 0;
     margin-bottom: 0;
}
.footer-pera{
     color: #FFFFFF;
     font-size: 20px;
     font-weight:400px ;
}
.footer-div1{

}
.div-footer{
     color: #FFFFFF;
     font-size: 24px;
     font-weight: bold;
}

.div-footer1{
     color: #FFFFFF;
     font-size: 20px;
     font-weight: 600;
}

.title-footer3{
     color: #ffffff;
     font-size: 26px;
     font-weight: bold;
     margin-bottom: 32px;
}
.menu-icon {
     display: none;
 }


@media screen and (max-width: 576px){
     .menu-icon {
          display: block;
      }
      .display-none{
          display: none !important;
      }
    .bannar{
     flex-direction: column-reverse;
    } 
    .bannar-div1, {
     text-align: center;
    }
    .curriculam-div {
     flex-direction: column;
    }
    .the-footer{
     grid-template-columns: repeat(1, 1fr);
     text-align: center;
     gap: 10px;
     
    }
    .stories2{
     grid-template-areas: repeat(2, 1fr);
     width: 100%;
    }
    .stories1, .icon{
     display: none;
    }
    .viwe-btn{
     margin: 0 40px 40px 150px;
    }
    hr{display: block;
     background-color: #F0AA00;
     margin: 20px auto;
    }
     
}